.carousel-inner{
    max-height: 385px;
    overflow: hidden;
}

#weather{
	font-size: 45px;
	vertical-align: middle;
}

#weather-temp{
	font-size: 45px;
	padding: 0px
}

#weather-details{
	font-size: 15px;
	padding: 0px
}

#weather-update{
	font-size: 15px;
}

#weather-city{
	text-align: center;
	font-size: 20px;
}

p{
	margin-bottom: 0rem;
}