/**********************************************************************
 * Classes
 **********************************************************************/
html, body {
  height: 100%;
}

body {
	background-color: #343a40!important;	
	background: url("../images/soccer.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;  
 	height: 100%;
}

.my-4{
	color: rgb(255,255,255);
}

.card {
	background-color: rgba(255,255,255,.90);
}

 .main-cover {
	min-height: 100%;
 }

.cards-container {
	padding-top: 100px;
}

.admin-cards {
	text-align: center;
}

.nav-link{
	color: rgb(0, 0, 0);
}