/**********************************************************************
 * Globals
 **********************************************************************/
body {
	padding-top: 30px;
	background-color: #343a40!important;
}

.my-4{
	color: rgb(255,255,255);
}

.card {
	background-color: rgba(255,255,255,.85);
}

/**********************************************************************
 * Classes
 **********************************************************************/
 .main-cover {
 	height: 100vh;
    background: url("../images/soccer.jpg") no-repeat scroll;
    background-size: cover;
 }

.cards-container {
	padding-top: 100px;
}

/**********************************************************************
 * IDs
 **********************************************************************/

