/**********************************************************************
 * Globals
 **********************************************************************/
body {
	padding-top: 30px;
}

.my-4{
	color: white;
}

.

/**********************************************************************
 * Classes
 **********************************************************************/
 .main-cover {
 	height: 100vh;
    background: url("../images/soccer.jpg") no-repeat scroll;
    background-size: cover;
 }

.cards-container {
	padding-top: 100px;
}
/**********************************************************************
 * IDs
 **********************************************************************/

